
:root{
    --main-color: rgb(30 34 72);
    --main-fontFamily: DejaVu Sans Mono, monospace;
}


/* article */

.article-2{
    height: 100vh;
    background: linear-gradient(rgba(30, 34, 72, 0.683), rgba(30, 34, 72, 0.527)),url('../../../src/assets/img/carrusel2.jpg');
    display: flex;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
}

/* article divs */

.article-2 div{
    background-color: var(--main-color);
    padding: 25px;
    width: 25%;
    text-align: justify;
    color: white;
    box-shadow: 10px 10px 5px black;
}

.article-2 div p{
    color: rgba(255, 255, 255, 0.669);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}