section{
    height: auto;
    background-color: rgb(30 34 72);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}

section .sec-2{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

section .sec-2 .direccion{
    width: 30%;
}

/* Footer */

footer{
    background-color: rgb(30 34 72);
    height: 15vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.linea{
    height: 0.5px;
    width: 70%;
    border-top: 1.2px solid rgba(128, 128, 128, 0.778);
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    section .sec-2{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    section .sec-2 .direccion{
        width: 80%;
    }    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    section .sec-2{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    section .sec-2 .direccion{
        width: 80%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    section .sec-2{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    section .sec-2 .direccion{
        width: 80%;
    }    

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* section */
    
    section{
        height: 80vh;
        background-color: rgb(30 34 72);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    section .sec-2{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    section .sec-2 .direccion{
        width: 70%;
    }
    
    /* Footer */
    
    footer{
        background-color: rgb(30 34 72);
        height: 15vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .linea{
        height: 0.5px;
        width: 70%;
        border-top: 1.2px solid rgba(128, 128, 128, 0.778);
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* section */
    
    section{
        height: auto;
        background-color: rgb(30 34 72);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    section .sec-2{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    section .sec-2 .direccion{
        width: 30%;
    }
    
    /* Footer */
    
    footer{
        background-color: rgb(30 34 72);
        height: 15vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .linea{
        height: 0.5px;
        width: 70%;
        border-top: 1.2px solid rgba(128, 128, 128, 0.778);
    }

}
