
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 350px;
}

footer .footer-content{
    height: 250px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    align-content: center;
    place-items: center;
    border-bottom: 1px solid white;
    transform: scaleX(0.9);
}

footer .footer-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

footer .footer-content div p{
    color: gray;
    font-style: normal;
}

footer .copyright{
    height: calc(350px - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copyright p{
    font-size: 12px;
}

@media (max-width: 810px){

    footer{
        height: 70vh;
        padding: 30px;
    }

    footer .footer-content{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        place-items: start;
        padding-bottom: 10px;
    }

    footer .footer-content div{
        align-items: start;
    }

    footer .copyright{
        height: calc(400px - 300px);
    }

}

@media (max-width: 810px){

    footer .footer-content{
        transform: scaleX(1);
    }

}