*{
    font-family: FreeMono, monospace;
}

html {
    scroll-behavior: smooth;
}

:root{
    --main-color: rgb(30 34 72);
    --main-fontFamily: DejaVu Sans Mono, monospace;
}




/* Extra small devices (phones, 500px and down) */
@media only screen and (min-width: 300px) {

     /* Header */

header{
    height: 100vh;
    background: url('../../../src/assets/img/carrusel1.jpg');
    background-position: 70%;
    background-size: cover;
    background-attachment: fixed;
}

/* nav responsive de bootstrap */

.nav-responsive{
    display: flex;
    font-family: var(--main-fontFamily);
}


/* Nav */

nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

nav img{
    width: 150px;
}

/* div dentro del nav */

.navegacion{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* etiqueta de navegacion (a) dentro del div .navegacion */

.navegacion a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

.navegacion a:hover{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
    text-decoration: underline;
}

/* estilo aparte inicio */

.navegacion a:nth-child(1){
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

/* eslogan */

.eslogan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    width: 85%;
    position: relative;
    top: 100px;
    left: 30px;
}

.eslogan h1{
    color: white;
    font-family: var(--main-fontFamily);
    font-size: 3em;
    font-weight: 700;
}

.eslogan button{
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    border-radius: 3.5px;
    font-weight: 700;
    font-family: var(--main-fontFamily);
    font-size: 1em;
}


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {

    /* Header */

header{
    height: 100vh;
    background: url('../../../src/assets/img/carrusel1.jpg');
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

/* nav responsive de bootstrap */

.nav-responsive{
    display: flex;
    font-family: var(--main-fontFamily);
}


/* Nav */

nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

nav img{
    width: 150px;
}

/* div dentro del nav */

.navegacion{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* etiqueta de navegacion (a) dentro del div .navegacion */

.navegacion a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

.navegacion a:hover{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
    text-decoration: underline;
}

/* estilo aparte inicio */

.navegacion a:nth-child(1){
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

/* eslogan */

.eslogan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    width: 70%;
    position: relative;
    top: 30px;
    left: 70px;
}

.eslogan h1{
    color: white;
    font-family: var(--main-fontFamily);
    font-size: 3em;
    font-weight: 700;
}

.eslogan button{
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    border-radius: 3.5px;
    font-weight: 700;
    font-family: var(--main-fontFamily);
    font-size: 1em;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

      /* Header */

header{
    height: 100vh;
    background: url('../../../src/assets/img/carrusel1.jpg');
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

/* nav responsive de bootstrap */

.nav-responsive{
    display: flex;
    font-family: var(--main-fontFamily);
}


/* Nav */

nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

nav img{
    width: 150px;
}

/* div dentro del nav */

.navegacion{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* etiqueta de navegacion (a) dentro del div .navegacion */

.navegacion a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

.navegacion a:hover{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
    text-decoration: underline;
}

/* estilo aparte inicio */

.navegacion a:nth-child(1){
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

/* eslogan */

.eslogan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    width: 70%;
    position: relative;
    top: 100px;
    left: 70px;
}

.eslogan h1{
    color: white;
    font-family: var(--main-fontFamily);
    font-size: 4em;
    font-weight: 700;
}

.eslogan button{
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    border-radius: 3.5px;
    font-weight: 700;
    font-family: var(--main-fontFamily);
    font-size: 1em;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

      /* Header */

header{
    height: 100vh;
    background: url('../../../src/assets/img/carrusel1.jpg');
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

/* nav responsive de bootstrap */

.nav-responsive{
    display: flex;
    font-family: var(--main-fontFamily);
}


/* Nav */

nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

nav img{
    width: 150px;
}

/* div dentro del nav */

.navegacion{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* etiqueta de navegacion (a) dentro del div .navegacion */

.navegacion a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

.navegacion a:hover{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
    text-decoration: underline;
}

/* estilo aparte inicio */

.navegacion a:nth-child(1){
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

/* eslogan */

.eslogan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    width: 90%;
    position: relative;
    top: 30px;
    left: 70px;
}

.eslogan h1{
    color: white;
    font-family: var(--main-fontFamily);
    font-size: 4em;
    font-weight: 700;
}

.eslogan button{
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    border-radius: 3.5px;
    font-weight: 700;
    font-family: var(--main-fontFamily);
    font-size: 1em;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Header */

header{
    height: 100vh;
    background: url('../../../src/assets/img/carrusel1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* nav responsive de bootstrap */

.nav-responsive{
    display: none;
}

/* Nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

nav img{
    width: 150px;
}

/* div dentro del nav */

.navegacion{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* etiqueta de navegacion (a) dentro del div .navegacion */

.navegacion a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

.navegacion a:hover{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
    text-decoration: underline;
}

/* estilo aparte inicio */

.navegacion a:nth-child(1){
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

/* eslogan */

.eslogan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    width: 90%;
    position: relative;
    top: 30px;
    left: 70px;
}

.eslogan h1{
    color: white;
    font-family: var(--main-fontFamily);
    font-size: 5em;
    font-weight: 700;
}

.eslogan button{
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 15px 20px 15px 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.2px;
    border-radius: 3.5px;
    font-weight: 700;
    font-family: var(--main-fontFamily);
}



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

     /* Header */

header{
    height: 100vh;
    background: url('../../../src/assets/img/carrusel1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* nav responsive de bootstrap */

.nav-responsive{
    display: none;
}

/* Nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

nav img{
    width: 150px;
}

/* div dentro del nav */

.navegacion{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* etiqueta de navegacion (a) dentro del div .navegacion */

.navegacion a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

.navegacion a:hover{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
    text-decoration: underline;
}

/* estilo aparte inicio */

.navegacion a:nth-child(1){
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.3em;
}

/* eslogan */

.eslogan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    width: 70%;
    position: relative;
    top: 50px;
    left: 70px;
}

.eslogan h1{
    color: white;
    font-family: var(--main-fontFamily);
    font-size: 5em;
    font-weight: 700;
}

.eslogan button{
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 15px 20px 15px 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.2px;
    border-radius: 3.5px;
    font-weight: 700;
    font-family: var(--main-fontFamily);
}


}