
*{
    font-family: 'Arial';
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Cambia el color del scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  /* Cambia el estilo del thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
  }
  
  /* Cambia el estilo del thumb cuando se le da hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: black;
  }
